{% extends "base.html" %}

{% block title %}
{% if modID == -1 %}
 - Add new 
{% else -%}
 - Edit 
{% endif %}

{% if typeID == 1 %}
Question
{% elif typeID == 2 -%}
Answer
{% elif typeID == 3 %}
Comment
{% endif %}
{% endblock %}

{% block content %}
<div>
    <h1>
        {% if modID == -1 %} 
        Create 
        {% else %}
        Edit 
        {% endif %}
        
        {% if typeID == 1 %}
        Question
        {% elif typeID == 2 %}
        Answer
        {% elif typeID == 3 %} 
        Comment 
        {% endif %}
    </h1>
    <form action="/add-edit" method="POST" enctype='multipart/form-data'>
        <div>
            <input type="hidden" name="modID" value="{% if modID == -1 %}-1{% else %}{{ data }}{% endif %}" />
        </div>
        <div>
            <input type="hidden" name="typeID" value="{{ typeID }}" />
        </div>
        {% if question_id %}
        <div>
            <input type="hidden" name="questionID" value="{{ data }}" />
        </div>
        {% endif %}
        {% if answer_id %}
        <div>
            <input type="hidden" name="answerID" value="{{ answer_id }}" />
        </div>
        {% endif %}
        {% if typeID == 3 %}
        <div>
            <input type="hidden" name="commentID" value="{{ comment_id }}">
        </div>
        {% endif %}
        {% if typeID == 1 %}
        <div>
            <label for="title">Title:</label></br>
            <input type="text" name="title" value="{% if modID != -1 and typeID == 1 %}{{ data.title }}{% endif %}" required>
        </div>
        {% endif %}
        <div>
            <label for="message">Description:</label></br>
            <textarea type="text" name="message" minlength="10" required>{% if modID != -1 %}{{ data.message }}{% endif %}</textarea>
        </div>
        {% if modID == -1 %}
        <div>
            <label for="user">User:</label></br>
            <select name="user" required>
                <option disabled selected value> -- Select User -- </option>
                {% for user in users %}
                <option>{{ user.user_name }}</option>
                {% endfor %}
            </select>
        </div>
        <br />
        {% endif %}
        <button type="submit">Submit</button>
    </form>
</div>
{%- endblock content %}