{% extends "base.html" %} {% block title %} - {% if question %} Edit {% else -%} Add new {% endif %} {% if theme == "new-answer"
or theme == "answer" %} Answer {% else -%} Question {% endif %} {% endblock %} {% block content %}
<div id="body-form" class="container">
    <h1 class="title-text-question">
        {% if theme == "new-answer" %} Create an answer {% elif theme == "new-question" %} Create a question {% elif theme == "answer"
        %} Edit an answer {% elif theme == "question" %} Edit a question {% endif %}
    </h1 class="title-text-question">
    <form action="/" method="POST" enctype='multipart/form-data'>
        <div>
            <input type="hidden" name="modID" value="{% if theme == 'question' %} 0 {% elif theme == 'answer' %} 1
                {% elif theme == 'new-comment' %} -2 {% elif theme == 'comment' %} -3 {% else %}-1{% endif %}" />
        </div>
        <div>
            <input type="hidden" name="typeID" value="{% if theme == 'new-question' or theme == 'question' or theme == 'new-question-comment' %} 0
            {% elif theme == 'comment' %} -3 {% else %}1{% endif %}" />
        </div>
        {% if theme == "comment" %}
        <div>
            <input type="hidden" name="commentID" value="{{ comment_id }}">
        </div>
        {% endif %} {% if question_id %}
        <div>
            <input type="hidden" name="questionID" value="{{ question_id }}" />
        </div>
        {% endif %} {% if answer_id %}
        <div>
            <input type="hidden" name="answerID" value="{{ answer_id }}" />
        </div>
        {% endif %} {% if theme == "question" or theme == "new-question" %}
        <div>
            <label for="title">Title:</label></br>
            <input class="form-control" type="text" name="title" value="{% if theme == 'question' %}{{ data['title'] }}{% endif %}" required>
        </div>
        {% endif %}

        <div>
            <label for="message">Description:</label></br>
            <textarea class="form-control" type="text" name="message" minlength="10" required>{% if theme == "question" %}{{ data['message'] }}{% elif theme == "answer" %}{{ data['message'] }}{% endif %}</textarea>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>
{%- endblock content %}