{% extends "base.html" %} {% block title %} - {% if question %} Edit {% else -%} Add new {% endif %} {% if theme == "new-answer"
or theme == "answer" %} Answer {% else -%} Question {% endif %} {% endblock %} {% block content %}
<div>
    <div>
        <div>
            <h1>
                FORM TITLE
            </h1>
            <form action="/" method="POST" enctype='multipart/form-data'>
                <div>
                    <input type="hidden" name="modID" value="" />
                </div>
                <div>
                    <input type="hidden" name="typeID" value="" />
                </div>



                <div>
                    <input type="hidden" name="questionID" value="" />
                </div>



                <div>
                    <label for="question-title">Title:</label></br>
                    <input type="text" name="question-title" value="">
                </div>


                <div>
                    <label for="question-message">Description:</label></br>
                    <textarea type="text" name="question-message"></textarea>
                </div>
                <div>
                    <label for="file-upload">Upload Image - Allowed formats: jpg, jpeg, png, gif, svg</label>
                    <input name="file-upload" multiple type="file" data-allowed-file-extensions='["jpg", "jpeg", "png", "gif", "svg"]'>
                </div>
                <br />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{%- endblock content %}