{% extends "base.html" %} {% block title %} - {% if question %} Edit {% else -%} Add new {% endif %} Record{% endblock %}
{% block content %}

<div>
    <div>
        <div>
            <h1>AskMate</h1>
            <p>AskMate is a crowdsourced Q&#38;A site where peaople can easily ask and answer to help each other.</p>
            <form action="#" method="GET">
                <a href="#">Ask a new Question!</a>
            </form>
            <br />
            <h2>Questions</h2>

            <div>
                <table>
                    <thead>
                        <th>ID</th>
                        <th>Submisson Time</th>
                        <th>View Number</th>
                        <th>Vote Number</th>
                        <th>Title</th>
                        <th>Message</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>


                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ question[1] }}</td>
                            <td>{{ question[2] }}</td>
                            <td>{{ question[3] }}</td>
                            <td><a href="#">    </a></td>
                            <td><a href="#">    </a></td>
                            <td>
                                <a href="#">EDIT</a>
                            </td>
                            <td>
                                <a href="#">DELETE</a>
                            </td>

                        </tr>


                        <div>
                            <h2>Don't have any question to display.</h2>
                            <h3> Press the 'Ask a new question!' button above to add a question!</h3>
                        </div>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{%- endblock content %}