{% extends "base.html" %} {% block title %} - {% if question %} Edit {% else -%} Add new {% endif %} Record{% endblock %}
{% block content %}
<div>
    <h1 class="askmate">AskMate</h1>
    <p class="askmate-desc">AskMate is a crowdsourced Q&#38;A site where peaople can easily ask and answer to help each other.</p>
    <div><a href="/registration" class="btn btn-success">Register new user</a></div>
    <div><a href="/user/list" class="btn btn-success">Users</a></div>
    <h2 class="title-text-question">Questions</h2>
    <div><a href="/new-question" class="btn btn-success">Ask new Question</a></div>
    {% if questions %} {% if five %}
    <div><a href="/list" class="btn btn-success">More questions</a></div>
    {% endif %}
    <br />
    <div class="input-group search">
        <form action="{{ url_for('search_questions') }}">
            <input type="text" name="q" autofocus class="form-control" placeholder="Search for..." />
            <input type="submit" value="Search" class="btn btn-success" />
        </form>
    </div>
    <div>
        {% if not five %}
        <br />
        <span><a href="/list" class="btn btn-success">Reset column order</a></span> {% endif %}
    </div>
    <div>
        <table id="questions-table" class="table table-bordred table-striped table-responsive">
            <thead>
                <th>{% if five %} Submission Time {% else %} <a href="/list?{{ link.time }}">Submisson Time</a> {% endif %}</th>
                <th>{% if five %} View Number {% else %} <a href="/list?{{ link.view }}">View Number</a> {% endif %}</th>
                <th>{% if five %} Vote Number {% else %} <a href="/list?{{ link.vote }}">Vote Number</a> {% endif %}</th>
                <th>{% if five %} Title {% else %} <a href="/list?{{ link.title }}">Title</a> {% endif %}</th>
                <th>{% if five %} Message {% else %} <a href="/list?{{ link.message }}">Message</a> {% endif %}</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for question in questions %}
                <tr>
                    <td>{{ question.submission_time }}</td>
                    <td>{{ question.view_number }}</td>
                    <td>{{ question.vote_number }}</td>
                    <td><a href="/question/{{ question.id }}" class="open-question">{{ question.title }}</a></td>
                    <td><a href="/question/{{ question.id }}" class="open-question">{{ question.message }}</a></td>
                    <td>
                        <a href="/question/{{ question.id }}/edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
                    </td>
                    <td>
                        <a href="/question/{{ question.id }}/delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="no-questions">
        <h2>No questions to display</h2>
    </div>
    {% endif %}
</div>
{%- endblock content %}