{% extends "base.html" %}

{% block title %} - 
{% if question %} Edit 
{% else -%} Add new 
{% endif %} 
Record
{% endblock %}

{% block content %}
{% set last_answer = [] %}
{% set accepted_answer = [] %}
<div>
    <h1>{{ data['question'][0]['title'] }}</h1>
    <div>
        <table>
            <tr>
                <td>
                    <div>
                        <span>
                            <a href="/question/{{ data['question'][0]['id'] }}/vote-up">up</a>
                        </span>
                    </div>
                    <div>
                        <span>
                            <a href="/question/{{ data['question'][0]['id'] }}/vote-down">down</a>
                        </span>
                    </div>
                </td>
                <td>
                    <span>{{ data['question'][0]['vote_number'] }}</span>
                </td>
                <td>
                    <span>{{ data['question'][0]['question_date'] }}</span>
                </td>
                <td>
                    <span>{{ data['question'][0]['question_user_name'] }}</span>
                </td>
                <td>
                    {% autoescape false %}
                    <span>{{ data['question'][0]['question_body']|replace("\n", "<br/>") }}</span> {% endautoescape %}
                </td>
                <td>
                    <span>{{ data['question'][0]['view_number'] }}</span>
                </td>
                <td>
                    <a href="/question/{{ data['question'][0]['id'] }}/edit">Edit</a>
                    <a href="/question/{{ data['question'][0]['id'] }}/delete">Delete</a>
                    <a href="/question/{{ data['question'][0]['id'] }}/new-comment" />New comment</a>
                </td>
            </tr>
        </table>
        <a href="/question/{{ data['question'][0]['id'] }}/new-answer">Add an answer</a>
    </div>
    <br />
    <div>
        {% for comment in data['question'] %} {% if comment['comment_body'] %}
        <table class="table-form">
            <tr>
                <td>
                    <span>{{ comment['comment_date'] }}</span>
                </td>
                <td>
                    <span>{{ comment['question_comment_user_name'] }}</span>
                </td>
                <td>
                    {% autoescape false %}
                    <span>{{ comment['comment_body']|replace("\n", "<br/>") }}</span> {% endautoescape %}
                </td>
                <td>
                    <span><a href="/comments/{{ comment['comment_id'] }}/edit">Edit</a>
                    </span>
                </td>
                <td>
                    <span><a href="/comments/{{ comment['comment_id'] }}/delete">Delete<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    {% endif %} {% endfor %} {% if data['answer'] %}
    <div>
        {% for item in data['answer'] %} {% if item['answer_id'] not in last_answer %}
        <h3 class="title-text-question">Answer {{ last_answer|length + 1 }}</h3>
        <table class="table-form">
            <tr>
                <td>
                    <div>
                        <a href="/answer/{{item['answer_id']}}/vote-up">Up<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
                    </div>
                    <div>
                        <a href="/answer/{{item['answer_id']}}/vote-down">Down<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                    </div>
                </td>
                <td>
                    <span>{{ item['vote_number'] }}</span>
                </td>
                <td>
                    <span>{{ item['answer_date'] }}</span>
                </td>
                <td>
                    <span>{{ item['answer_user_name'] }}</span>
                </td>
                <td>
                    {% autoescape false %}
                    <span>{{ item['answer_body']|replace("\n", "<br/>") }}</span> {% endautoescape %}
                </td>
                <td>
                    {% if item.accepted_by > 0 %}
                    <span>Accepted</span>
                    {% do accepted_answer.append(-999) %}
                    {% endif %}
                    {% if -999 not in accepted_answer %}
                    <form action="/question/{{ data['question'][0]['id'] }}" method="POST">
                        <select name="user_id" id="accept">
                            <option disabled selected value> -- Select User -- </option>
                            {% for user in users %}
                            <option value="{{ user.id }}">{{ user.user_name }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="answer_id" value="{{ item.answer_id }}">
                        <input type="submit" value="Accept">
                    </form>
                    {% endif %}
                </td>
                <td>
                    <a href="/answer/{{item['answer_id']}}/edit">Edit<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a href="/answer/{{item['answer_id']}}/delete">Delete<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    <a href="/answer/{{item['answer_id']}}/new-comment">New comment<span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a>
                </td>
            </tr>
        </table>
        {% for response in data['answer'] %} {% if response['comment_body'] %} {% if response['answer_id'] == item['answer_id'] %}
        <table class="table-form">
            <tr>
                <td>
                    <span>{{ response['comment_date'] }}</span>
                </td>
                <td>
                    <span>{{ response['answer_comment_user_name'] }}</span>
                </td>
                <td>
                    {% autoescape false %}
                    <span>{{ response['comment_body']|replace("\n", "<br/>") }}</span> {% endautoescape %}
                </td>
                <td>
                    <a href="/comments/{{ response['comment_id'] }}/edit">Edit<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a href="/comments/{{ response['comment_id'] }}/delete">Delete<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </td>
            </tr>
        </table>
        {% endif %} {% endif %} {% endfor %} {% do last_answer.append(item['answer_id']) %} {% endif %} {% endfor %}
    </div>
    {% else %}
    <div>
        <h1 class="title-text-question">No answers for this quesion yet.</h1>
    </div>
    {% endif %} {%- endblock content %}