{% extends "base.html" %} {% block title %} - Registration {% endblock %} {% block content %}
<div class="container">
    <h2 class="title-text-question">Register new user</h2>
    {% if error != None %}
    <div>
        <span>{{error}}</span>
    </div>
    {% endif %}
    <div>
        <form action="/" method="POST">
            <div>
                <label for="register">User name: </label>
                <input class="form-control" type="text" name="register" autofocus />
            </div>
            </br>
            <input type="submit" value="Submit" class="btn btn-success" />
        </form>
    </div>
</div>
{%- endblock content %}